xsd/RetrieveReservationSummaryRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:urn="http://www.ibsplc.com/iRes/simpleTypes/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibsplc.com/iRes/simpleTypes/">
	<xs:include schemaLocation="SimpleTypes.xsd"/>
	<xs:include schemaLocation="CommonTypes.xsd"/>
	<xs:element name="RetrieveReservationSummaryRQ">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="ProfileId" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique system generated identifer for a profile in the system. In this case it is the profile id of the logged in user.
					Max Length: 20</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookingChannel" type="urn:BookingChannelKeyType" nillable="false">
				<xs:annotation>
					<xs:documentation>The channel details need to be specified. The services will be executed based on the access rights given to the channel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field represents the PNR creation date from which the PNRs to be retrieved. This field is conditional and it needs to be set only if the PNR search is for a PNR creation date range. If this field is set with value then it needs to set the EndDate also. The date format is YYYY-MM-DD(UTC)
					Max Length: 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field represents the PNR creation date up to which the PNRs needs to be retrieved. This field is conditional and it needs to be set only if the PNR search is for a PNR creation date range. The date format is YYYY-MM-DD(UTC)
					Max Length: 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightStartDate" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field represents the flight date from which the PNRs to be retrieved. This field is conditional and it needs to be set only if the PNR search is for a flight date range. If this field is set with value then it needs to set the FlightEndDate also. The date format is YYYY-MM-DD(LTC)
					Max Length: 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightEndDate" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field represents the flight date up to which the PNRs needs to be retrieved. This field is conditional and it needs to be set only if the PNR search is for a flightdate range. The date format is YYYY-MM-DD(LTC)
					Max Length: 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirlineCode" type="xs:string" nillable="false">
				<xs:annotation>
					<xs:documentation>IATA code for the airline. This is a mandatory field that needs to set with all the search criteria.
					Max Length: 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PnrNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier for a booking record.If search needs to happen for a pnr number and not for all PNRs created by the profile; this field in combination with cardholder Name or First Name/last name can be used
					Max Length: 15</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>First name of the guest .If first name/last name and pnr number is given, search happen with that info
					Max Length: 51</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurName" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>FamilyName or LastName of the Guest. .If first name/last name and pnr number is given, search happen with that info
					Max Length: 50</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyCode" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique Identifier for an agency if the agency category is Travel Agency. It will retrieve the PNRs created through the agency. This field is conditional and set with value only if the search is for the Agency created PNRs
					Max Length: 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorporateId" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier for an agency if the agency category is corporate. It will retrieve the PNRs created by through the corporate agency. This field is conditional and set with value only if the search is for the Corporate agency created PNRs.
					Max Length: 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Middle Name of the guest. If middle name/last name is received, search will happen with that information.
					Max Length: 50</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierCode" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the flight carrier is given in the search criteria the search happens with this
					Max Length: 3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="xs:int"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the flight number is given in the search criteria the search happens with this.
					Max Length: 5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightDate" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Flight date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BoardPoint" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the board point and flight number is given search happens with this info.
					Max Length: 5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffPoint" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the off point and board point is specified search happens with this.
					Max Length: 5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PnrStatus" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The search criteria can be the PNR status alone.
					Max Length: 30</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailId" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The search can be done by specifying the Email Id.
					Max Length: 100</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCardNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The search can be done by specifying the, Credit Card Number.
					Max Length: 19</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumberCountryCode" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The search can be done by specifying the, country code.
					Max Length: 19</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Search can be based on the phone number.
					Max Length: 50</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GiftCertificateNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Search can be based on the gift certificate number provided.
					Max Length: 12</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoyaltyNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Loyalty number attached to the passenger in the PNR.
					Max Length: 25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PnrType" type="urn:PNRType"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Search is based on the pnrType. Possible values are - NORMAL, GROUP.
					Max Length: 10</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivePnrNumber" type="xs:int" nillable="false">
				<xs:annotation>
					<xs:documentation>Indicates the number of active PNRs (PNRs with segment status as ‘NOT_FLOWN) needs to be retrieved. By default it is 10.
					Max Length: 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PastPnrNumber" type="xs:int" nillable="false">
				<xs:annotation>
					<xs:documentation>The number of past PNRs that needs to be retrieved. (PNR’s in which passengers are flown). By default it is 10.
					Max Length: 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsCancelledRequired" type="xs:boolean" nillable="false">
				<xs:annotation>
					<xs:documentation>If the value is true, cancelled PNRs are also retrieved along with the past PNRs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelDocNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Search can be based on the TravelDocNumber number provided.
					Max Length: 25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsUnFlownPassengersOnly" type="xs:boolean" nillable="false">
				<xs:annotation>
					<xs:documentation>If the value is true, then the passengers with check-in status as FLOWN and NO_SHOW will not be considered in the PNR retrieval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETicketNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The search can be done by specifying the, Ticket Number.
					Max Length: 19</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlipOrderNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The search can be done by specifying the, iFly Res Transaction ID .
					Max Length: 19</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="TicketedStatus" type="urn:TicketStatus"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The search can be done by specifying the, TickedStatus as TICKETED or NONTICKETED.
					Max Length: 19</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookerProfileId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Booker profile ID associated to the passenger.
					Max Length: 20</xs:documentation>
				</xs:annotation>
			</xs:element>	
				<xs:element name="GroupType" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Search is based on the Group Type. 
					Max Length: 20</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
