xsd/RetrieveBookingRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:urn="http://www.ibsplc.com/iRes/simpleTypes/" targetNamespace="http://www.ibsplc.com/iRes/simpleTypes/">
	<xs:include schemaLocation="RES_SimpleTypes.xsd"/>
	<xs:include schemaLocation="RES_CommonTypes.xsd"/>
	<xs:element name="RetrieveBookingRQ">
	<xs:complexType>
	<xs:sequence>
			<xs:element name="AirlineCode" type="xs:string" nillable="false">
						<xs:annotation>
							<xs:documentation>IATA AirlineCode
							Max Length : 6</xs:documentation>
						</xs:annotation>
			</xs:element>
			<xs:element name="BookingChannel" type="urn:BookingChannelType" nillable="false">
				<xs:annotation>
					<xs:documentation>The channel details need to be specified. The services will be executed based on the access rights given to the channel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PnrNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique Number assigned to the PNR for reference whose details are to be retrieved will be provided here</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PointOfSale" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the two-letter country code for the Point of Sale.
					Max Length: 3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyCode" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique Identifier for an agency if the agency category is Travel Agency. It will retrieve the PNRs created through the agency. This field is conditional and set with value only if the search is for the Agency created PNRs.
					Max Length: 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalAgentID" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique identifier who created the PNR.
					Max Length: 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentAgentID" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique identifier for the agent who modifies the PNR behalf of the agency
					Max Length: 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReportingOffice" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reporting Office of the Agency
					Max Length: 6</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorporateId" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Unique identifier for an agency if the agency category is corporate. It will retrieve the PNRs created by through the corporate agency. This field is conditional and set with value only if the search is for the Corporate agency created PNRs.
					Max Length: 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field represents the flight date from which the PNRs are to be retrieved. This field is conditional and it needs to be set only if the PNR search is for a flight date range. If this field is set with a value then it needs to set the EndDate also. The date format is YYYY-MM-DD. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This field represents the flight date up to which the PNRs needs to be retrieved. This field is conditional and it needs to be set only if the PNR search is for a flight date range. The date format is YYYY-MM-DD.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierCode" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the flight carrier code is given in the search criteria then search happens with this.
					Max Length: 3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="xs:int"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>If the flight number is given in the search criteria the search happens with this. This is mandatory in case the PNR status is specified in the request.
					Max Length: 5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BoardPoint" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Airport code for the starting point of the segment.If specified in the request then search will return PNRs having this as board point in any of the active segments.
					Max Length: 5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffPoint" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Airport code for the end Point of the segment.If specified in the request then search will return PNRs having this as off point in any of the active segments. 
					Max Length: 5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PnrStatus" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>This attribute denotes the PNR status which can be ACTIVE or CANCELLED. 
					Max Length: 30</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightDate" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The departure date of the flight in its first
						segment.The date wil be in Format:dd-MMM-yyyy
						Max Length: 20
						</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProfileId" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>A unique system generated identifer for a profile in the system. In this case, it’s the profile id of the logged in user. 
					Max Length: 20</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>First Name of the passenger. If specified in the request the search will return all the PNRs having this as the first name of the passenger. Should be used along with last name.
					Max Length: 64</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurName" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Last Name of the passenger. If specified in the request the search will return all the PNRs having this as the last name of the passenger. 
					Max Length: 64</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Middle Name of the passenger. If specified in the request the search will return all the PNRs having this as the middle name of the passenger. Should be used only with last name.
					Max Length: 50</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailId" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The email id specified in the PNR. The email id specified in the PNR. The search can be done by specifying the Email address alone.
					Max Length: 100</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditCardNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Credit card number specified in the PNR. The search can be done by specifying the Creditr card number alone. 
					Max Length: 19</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumberCountryCode" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>PhoneNumberCountryCode. 
					Max Length: 50</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Phone number specified in the PNR. 
					Max Length: 50</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GiftCertificateNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gift certificate number specified in the PNR. This field is deprecated. Should not be used now.
					Max Length: 12</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoyaltyNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Loyalty number attached to the passenger in the PNR.It is mandatory if the search is for the PNRs created with the loyalty customer.
					Max Length: 25</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PnrType" type="urn:PNRTypeCode"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of PNR – 
					Normal, Group
					Max Length: 10</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TourOperatorNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tour Operator Code
					Max Length: 9</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateOfBirth" type="xs:date"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date Of Birth of the
					Passenger in PNR. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordLocator" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Third Party Record locator of the PNR/Passenger
					Max Length: 15</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TourOperatorCode" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used for capturing tour operator code details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TourOperatorBookingNo" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used for capturing tour operator reference number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TicketNumber" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ticket Number
					Max Length: 13</xs:documentation>
				</xs:annotation>
			</xs:element>	
			<xs:element name="PaymentTransactionId" type="xs:string"  minOccurs="0">
				<xs:annotation>
					<xs:documentation>iFlyres Payment Transaction id
					Max Length: 13</xs:documentation>
				</xs:annotation>
			</xs:element>		
	</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
